<%= content_tag :tbody, class: 'tbody', id: "todo-#{todo.id}" do %>
  <tr>
    <% if todo.body %>
      <td><%= todo.body %></td>
      <td><%= todo.days_left %></td>
      
      <td><input id="todo_<%=todo.id %>" name="todos[]" value="<%=todo.id %>"  type= "checkbox"  /></td>
      <td><%= link_to "Delete", [todo.user, todo], method: :delete, remote: true, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this todo item?' } %></td>
    <% end %>
  </tr>
<% end %>
